﻿<form method="post">
    <h2>Create New Question</h2>

    <div>
        <label>Question Type:</label>
        <select name="newQuestion.Type">
            <option value="textfield">Text Field</option>
            <option value="multiplechoice">Multiple Choice</option>
        </select>
    </div>
    <div style="float:left">
        <div>
            <label>Question Text:</label>
        </div>
        <div>
            <textarea id="txtQestionText" name="newQuestion.Text" style="width:700px;height:300px"></textarea>
        </div>
    </div>
    <div style="clear:both">
        <label>Answer:</label>
        <input name="newQuestion.CorrectChoice" type="text" />
    </div>
    <div style="clear:both">
        <label>Mailing Subject:</label>
        <input name="newQuestion.MailingSubject" type="text" />
    </div>
    <div style="clear:both">
        <div>
            <label>Mailing List:</label>
        </div>
        <div>
            <textarea name="newQuestion.MailingList"></textarea>
        </div>
    </div>
    <div style="clear:both">
        @Html.AntiForgeryToken()
        <input id="btnSubmit" type="submit" value="submit" />
    </div>


</form>
