﻿@model POCTest.ViewModels.HomeViewModel

<h2>@Model.Title</h2>

@foreach (var a in Model.Answers)
{
    <div>
        <div class="thumbnail">
            <div class="caption">
                <h3>ID:  @a.Id</h3>
                <h4>Question:  <a href="/Home/Question/@a.QuestionID">@a.QuestionID</a></h4>
                <h4>Submitted by:  @a.UserName</h4>
                <h4>Answer:</h4>
                <p>@a.Text</p>
            </div>
        </div>
    </div>
}