﻿@model POCTest.ViewModels.HomeViewModel

<h2>Index Page</h2>

<p>
    <ul>
        <li><a href="/Home/Questions">Questions List</a></li>
        <li><a href="/Home/Answers">Answers List</a></li>
        <li><a href="/Home/AddQuestion">Create New Question</a></li>
    </ul>
</p>

