﻿@model POCTest.ViewModels.HomeViewModel

<h2>@Model.Title</h2>

@foreach (var q in Model.Questions)
{
    <div>
        <div class="thumbnail">
            <div class="caption">
                <h3>ID:  @q.Id</h3>
                <h4>Type:  @q.Type</h4>
                <h4>Question:</h4>
                <p>@q.Text</p>
                <h4>Answer:</h4>
                <p>@q.CorrectChoice</p>
            </div>
        </div>
    </div>
}

