﻿@model POCTest.ViewModels.HomeViewModel

<div>
    <div class="thumbnail">
        <div class="caption">
            <h3>ID:  @Model._question.Id</h3>
            <h4>Type:  @Model._question.Type</h4>
            <h4>Question:</h4>
            <p>@Model._question.Text</p>
            <h4>Answer:</h4>
            <p>@Model._question.CorrectChoice</p>
        </div>
    </div>
</div>